$color-yellow: #f5c518;
$color-grey: #313131;
$color-ritch-black: #000;
$color-black-shadows: #bcabae;
$color-jet: #2d2e2e;
$color-dim-gray: #716969;
$color-white: #fbfbfb;
$color-error: #ce1717;
$color-ash: #6a6552;
$color-odd: #b3b3b3;
$color-even: #ebebeb;
$color-blue: #183df5;
$color-mobile-searchbar: #1f1f1f;
$color-suggestion-hover: #444444;
$color-misc-text: #bebebe;
$base-border-radius: 0.2rem;
$special-border-radius: 1rem;
